<div class="container">
  <div class="details-container">
    <div class="img-container">
      <img src="../../../assets/téléchargement.jpg" class="img" alt="...">
    </div>
    <div class="description-container">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p><small class="categ">Plantes d'exterieur</small></p>
        <app-avis-bar></app-avis-bar>
        <h5 class="price">86,08 euros</h5>
        <div class="icon">
          <i class="bi bi-exclamation-circle"></i>
          <small class="reste-article">   Il reste 2 articles</small>
        </div>
        <h5>Caracteristiques</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="button">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
