.custom-side-bar {
    min-height: calc(100vh - 54px);
    height: 100%;
    width: 280px;
}

.star{
  margin: 0px 0px;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
//  
}