<div class="custom-side-bar flex-shrink-0 bg-white border-end">
    <div class="p-3">
        <span class="fs-5 fw-semibold">Filtres</span>
    </div>
    <ul class="list-unstyled ps-0 border-top">
        <div class="p-3">
            <p class="mb-1 fs-5 fw-semibold">Catégories</p>
            <div class="form-check" *ngFor="let category of listCategoriesFilter">
                <input type="checkbox" class="form-check-input" value="{{category}}" id="{{category}}" (change)="onChangeValue($event)">
                <label for="{{category}}" class="form-check-label">
                    {{ category }}
                </label>
            </div>
        </div>
    </ul>

    <ul class="list-unstyled ps-0 border-top">
        <div class="p-3">
            <p class="mb-1 fs-5 fw-semibold">Prix</p>
           
            <!-- <form #priceForm="ngForm" (ngSubmit)="onFormSubmit(priceForm)" >
                <div data-role="rangeslider">
                  <input ngModel type="range" name="price_min" id="price-min" value="price-min" min="0" max="300">
                  <input ngModel type="range" name="price_max" id="price-max" value="price-max" min="0" max="300">
                </div>
                  <button class="btn btn-primary">Valider</button>
            </form> -->

            <!-- <p>Value: {{sliderControl.value}}</p>
            <p><button (click)="resetForm()">Reset</button></p>
            <ngx-slider [options]="options" [formControl]="sliderControl"></ngx-slider> -->

            <form [formGroup]="sliderForm">
                <!-- <p>Low value: {{ sliderForm.value.sliderControl[0] }}</p>
                <p>High value: {{ sliderForm.value.sliderControl[1] }}</p> -->
                <ngx-slider [options]="options" formControlName="sliderControl"></ngx-slider>
                <p><button (click)="submitForm()">Valider</button></p>
              </form>
        </div>
    </ul>


    <ul class="list-unstyled ps-0 border-top">
        <div class="p-3">
            <p class="mb-1 fs-5 fw-semibold">Avis</p>
         
    <div (mouseleave)="onMouseLeave()">
            <app-icon *ngFor="let star of starStates; let starIndex = index" 
            [name]="star.stateHoverUser ? 'star-fill' : 'star'"
            [size]="1.2"
            [color]="'#ffbf00'"
            (mouseover)="onMouseOver(starIndex)"
            (click)="onClickStar(starIndex)"
            ></app-icon>
        </div>

        </div>
    
    </ul>




    <!-- <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center" >

        <div *ngFor="let star of stars" [ngClass]="[star.class]" (click)="selectStar(star.id)">
            <app-icon [name]="'star'" 
            id="5"
            [size]="1.2" 
            [color]="'#ffbf00'"></app-icon>
        </div>



    </div> -->

</div>